#map {
  width: 50%;
  height: 500px;
  margin-left: -25%;
  margin-top: 50px;
  border: 20px solid rgba(127, 63, 63, .5);
  position: absolute;
  left: 50%
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/*HERO TEXT*/
.hello {
  color:white;
  font-family: 'Bubblegum Sans', sans-serif;
  font-size: 90px;
  padding: 0;
  text-align: center;
}
.intro-container{
  position: relative;
  top: 50px;
  z-index: 4;
}

/*DANNY*/
p {
  font-size: 0.5em;
  margin-left: 2px;
}
#webLink {
  color: black;
  font-size: 0.5em;
  margin-left: 2px;
}
#webLink:hover {
  color: green;
}


/*HERO IMAGE & OVERLAY*/
#heroImage{
  position: relative;
  top: -760px;
  z-index: 1;
  width: 100%;
  height: 770px;
}

#color-overlay {
  margin: 0;
  position: relative;
  top: -160px;
  left: 130px;
  z-index: 3;
  align-text: center;
  width: 80%;
  height: 500px;
  background-color: black;
  opacity: 0.5;
}

/*FORM*/
.formSection{
  position: relative;
  top: -1230px;
  z-index: 5;
}

.cf:before, .cf:after{
  content:"";
  display:table;
}

.cf:after{
  clear:both;
}

.submissionForm {
  width: 850px;
  height: 60px;
  padding: 15px;
  margin: 150px auto 50px auto;
  background: #000;
  background: rgba(0,0,0,.0);
  border-radius: 15px;
  box-shadow: 0 10px 10px rgba(0,0,0,.4) inset, 0 10px 0 rgba(0,0,0,.4);
}

.formSection{
  text-align: center;
}

#locationInput + #termInput{
  margin-left: 20px;
}

#termInput + #listButton{
  margin-left: 20px;
}

#listButton + #mapButton{
  margin-left: 10px;
}

.submissionForm input {
  width: 350px;
  height: 30px;
  margin-left: 60px;
  padding: 10px 5px;
  float: left;
  font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: 0;
  background: #eee;
  border-radius: 3px 3px 3px 3px;
}

.submissionForm input:focus {
  outline: 0;
  background: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

#outerContainer{
  margin: 0;
  position: absolute;
  margin-top: -35px;
  z-index: 3;
  top: -80px;
  left: 200px;
}


.submissionForm button {
  overflow: visible;
  position: relative;
  top: 60px;
  left: 3px;
  margin-right: 20px;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 210px;
  font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: #fff;
  text-transform: uppercase;
  background: #FFBC36;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, .9);
  z-index: 1;
}

#listButton{
  border-radius: 0 5px 5px 0;
}

#mapButton{
  border-radius: 5px 0 0 5px;
}

.submissionForm button:hover{
  background: #e54040;
}

.submissionForm button:active,
.submissionForm button:focus{
  background: #c42f2f;
}

.submissionForm button:hover:before{
  border-right-color: #e54040;
}
