/*DANNY*/
/*Changed width and height for #resultsContainer.*/
#resultsContainer {
  width: 250px;
  /*height: 300px;*/
  margin: 15px;
  float: left;
  overflow: 0 auto;
  background-color: white;
}

#resultsImage {
  width: 100%;
  height: 150px;
}

/*DANNY*/
/*#results {
  box-shadow: 0px 0px 5px 3px #888888;
  position: absolute;
  top: 0%;
  width: 90%;
  height: auto;
  padding: 5px;
  margin: 5%;
  background-color: #f1f1f1;
  opacity: 90%;
  top: 0%;
}*/

/*PETER*/
#results {
  box-shadow: 0px 0px 5px 3px #888888;
  position: absolute;
  width: 90%;
  height: auto;
  padding: inherit;
  margin-top: 8em;
  margin-left: 4em;
  background-color: #f1f1f1;
  opacity: 90%;
  top: 0%;
  display: inline-block;
}

.main-container{
  margin:0 auto;
  width:90%;
}

.intro-container {
  text-align: center;
  margin-top:7%;
}
/*.nav-icon {
    position: absolute;
    top: 1%;
    right: 5%;
    font-size: 40px;
}

.navigation{
  color: white;
  position: relative;
  top: 10%;
  z-index: 2;
  display: block;
}

ul{
  color: white;
  position: absolute;
  top: 750px;
}

li{
  width: 90%;
  height: 100%;
  font-size: 30px;
  color: white;
}*/


ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: rgba(0, 0, 0, 0.5);;*/
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: black;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: rgba(255, 181, 32, .5);;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 6;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

.topnav{
  /*width: 100%;
  text-align: right;*/
  position: fixed;
  top: 0;
  z-index: 1;

}

#aboutBackground {
  position: fixed;
  z-index: 0;
}

.aboutContainer {
  /*border: 1px solid red;*/
  background-color: rgba(255,255,255, 0.8);
  position: relative;
  height: 400px;
  width: 300px;
  margin-left: 1%;
  float: left;
  margin-top: 5%;
  overflow: auto;

}

.aboutPics {
  width: 250px;
  height: 200px;
  float: left;
  margin: 25px;
}

#body{
  overflow: hidden;
  background-image: url("/images/restaurant.jpeg");
}

#resultsSection {
  display: inline-block;
  box-shadow: 11px 11px 32px -8px rgba(0,0,0,0.66);
}
