.navigation ul {
  margin: 0.5% 5%;
  text-align: center;
  display: inline-block;
}

.navigation ul li:hover {
  background-color: rgba(29, 29, 29, 0.42);
}

.navigation a:hover {
  color: white;
}

.full-name {
  font-size: 20px;
}

.titles {
  text-align: center;
  margin: 20% 0 10% 0;
}

.container-info {
  font-size: 12px;
  margin-left: 2px
}

.container-title {
  font-size: 20px;
  text-align: center;
  font-family: 'Bubblegum Sans', sans-serif;
}
