.navigation ul {
  margin: 0.5% 5%;
  text-align: center;
  display: inline-block;
}

.navigation ul li:hover {
  background-color: rgba(29, 29, 29, 0.42);
}

.navigation a:hover {
  color: white;
}

.full-name {
  font-size: 20px;
}

.titles {
  text-align: center;
  margin: 20% 0 10% 0;
}

.container-info {
  font-size: 12px;
  margin-left: 2px
}

.container-title {
  font-size: 20px;
  text-align: center;
  font-family: 'Bubblegum Sans', sans-serif;
}

.showMapButton {
  background: #ff5959;
  background-image: linear-gradient(to bottom, #ff5959, #b82b2b);
  border-radius: 20px;
  box-shadow: 1px 3px 11px #666666;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 16px 6px 16px;
  text-decoration: none;
  float: right;
}

.showMapButton:hover {
 background: #fa3c3c;
 background-image: linear-gradient(to bottom, #fa3c3c, #db2e2e);
 text-decoration: none;
}

#apocalypseButton {
  position: relative;
  top: 4em;
  overflow: visible;
  left: 3px;
  margin-right: 20px;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 210px;
  font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: #fff;
  text-transform: uppercase;
  background: #fa3c3c;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, .9);
  z-index: 1;
}

#apocalypseButton button:hover{
  background: #ff5959;
}

#apocalypseButton button:active,
#apocalypseButton button:focus{
  background: #c42f2f;
}

#apocalypseButton button:hover:before{
  border-right-color: #e54040;
}

#apocalypseButtonAbout {
  position: relative;;
  float: right;
  top: 4em;
  overflow: visible;
  left: 17px;
  margin-right: 20px;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 210px;
  font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: #fff;
  text-transform: uppercase;
  background: #fa3c3c;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, .9);
  z-index: 1;
}

#apocalypseButtonAbout button:hover{
  background: white !important;
}

#apocalypseButtonAbout button:active,
#apocalypseButtonAbout button:focus{
  background: white !important;
}

#apocalypseButtonAbout button:hover:before{
  border-right-color: white !important;
}

#apocalypseButtonHome {
  position: absolute;
  float: left;
  top: 4em;
  overflow: visible;
  left: 3px;
  margin-right: 20px;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 210px;
  font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: #fff;
  text-transform: uppercase;
  background: #fa3c3c;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, .9);
  z-index: 1;
}

.apocalypseButton button:hover{
  background: #ff5959;
}

.apocalypseButton button:active,
#apocalypseButton button:focus{
  background: #c42f2f;
}

.apocalypseButton button:hover:before{
  border-right-color: #e54040;
}

/*#homeButton {
  position: relative;
}*/

@media screen and (max-width: 500px) {
  .hello {
    font-size: 50px;
  }
  #map {
    width: 100%;
    height: 65%;
    margin-top: 6em;
    margin-left: -55%;
  }

@media screen and (max-width: 800px) {
}
